.blind {
    position: relative;
    top: 1px;
    left: 1px;
    width: 1px;
    height: 1px;
    margin-top: -1px;
    margin-left: -1px;
    font-size: 0;
    overflow: hidden;
    opacity: 0;
    clip: ract(0, 0, 0, 0);
}