@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

a {
    text-decoration: none;
    color: $color_black;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

@font-face {
    font-family: 'Geometria-Bold';
    src: url('../font/Geometria-Bold.eot');
    src: url('../font/Geometria-Bold.eot?#iefix') format('embedded-opentype'),
         url('../font/Geometria-Bold.ttf') format('truetype'),
         url('../font/Geometria-Bold.woff') format('woff'),
         url('../font/Geometria-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@mixin flex {
    display: flex;
    align-items: center;
}

@mixin backGround($url, $size) {
    background-image: $url;
    background-repeat: no-repeat;
    background-position: center;
    background-size: $size;
}

.wrap {
    @include backGround(url('../images/background.jpg'), cover);
    height: 100vh;
}

header {
    @include flex();
    justify-content: space-between;
    background-color: $color_white;
    height: 50px;
    padding: 20px 40px;

    & > h1 {
        @include flex();

        & > a {
            font-family: 'Geometria-Bold';
        }

    }

}

main {
    @include flex();
    height: calc(100% - 50px);
}

section {
    @include flex();
    flex-direction: column;
    position: relative;
    height: 100%;
    border: $border_color_black;
    padding: 70px 60px;

    &:first-of-type, &:last-of-type {
        width: 25%;
    }

    &:nth-of-type(2) {
        width: 50%;
    }

}

h2 {
    font-family: 'NanumSquareRound';
    font-size: 20px;
}

// 계산기 wrap

.carculator_wrap {
    position: relative;
    width: 100%;
    min-width: 250px;
    height: 50%;
    margin-bottom: 60px;
    padding: 0 10px;
    background-color: $color_white;
    border-radius: $border_radius_medium;

    & > h2 {
        position: absolute;
        top: -12%;
        left: 0;
    }
}

// 지도 wrap

.map_wrap {
    position: relative;
    width: 100%;
    min-width: 250px;
    height: 50%;
    background-color: $color_white;
    border-radius: $border_radius_medium;

    & > h2 {
        position: absolute;
        top: -12%;
        left: 0;
    }
}

// 시계 wrap

.clock_wrap {
    @include backGround(url('../images/clock.png'), contain);
    position: relative;
    width: 100%;
    height: 45%;
    margin-bottom: 50px;
    border: $border_color_black;

    & > h2 {
        position: absolute;
        top: -10%;
        left: 0;
    }
}

// ToDoList wrap

.todolist_wrap {
    @include flex();
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 50%;

    & > h2 {
        position: absolute;
        top: -12%;
        left: 0;
    }

    & > .todolist_content {
        width: 90%;
        height: 80%;
        margin: 0 auto;
    }

}

// 달력 wrap

.calendar_wrap {
    position: relative;
    width: 100%;
    min-width: 250px;
    height: 50%;
    margin-bottom: 60px;
    padding: 0 30px;
    background-color: $color_white;
    border-radius: $border_radius_medium;

    & > h2 {
        position: absolute;
        top: -10%;
        left: 0;
    }

    & > #map {
        height: 100%;
    }

}

// 날씨 wrap

.weather_wrap {
    position: relative;
    width: 100%;
    min-width: 250px;
    height: 50%;
    background-color: $color_white;
    border-radius: $border_radius_medium;

    & > h2 {
        position: absolute;
        top: -10%;
        left: 0;
    }

}
