// border
$border_color_black: 1px solid #000;

// border-radius
$border_radius_small: 10px;
$border_radius_medium: 40px;

// padding
$padding_small: 10px;
$padding_medium: 20px;

// color
$color_white: #fff;
$color_black: #000;
$color_gray: #eee;
$color_darkgray: #ccc;
$color_active: #888;
$color_yellow: #fff397;
$color_red: red;
$color_blue: blue;