@charset "utf-8";

@import './_variable.scss';
@import './_common.scss';
@import './_component.scss';

.util {
    @include flex();
    justify-content: flex-end;
    height: 100%;

    & > #loginUser {
        margin-right: 20px;
        small {
            margin-left: 10px;
            cursor: pointer;
            text-decoration: underline;
        }
    }

    & > a {
        display: block;
        width: 30px;
        height: 30px;
        margin-right: 20px;

        &:first-of-type {
            @include backGround(url('../images/velog.png'), contain);
        }

        &:nth-of-type(2) {
            @include backGround(url('../images/github.png'), contain);
        }

        &:last-of-type {
            @include backGround(url('../images/portfolio.png'), contain);
        }
    }

}

// 계산기 입력창

.carculator_input {
    margin-top: 20px;
    min-height: 20px;
    text-align: center;

    & > input {
        width: 90%;
        height: 100%;
        padding: $padding_small;
        border: 2px solid #000;
        border-radius: $border_radius_small;

        &:focus {
            outline: none;
            // border: 2px solid #000;
            border-radius: $border_radius_small;
        }
    }

}

// 계산기 버튼 

.button_list {
    @include flex();
    justify-content: space-between;
    flex-flow: row wrap;
    height: 75%;
    margin-top: 3%;

    & > li {
        width: 25%;
        text-align: center;
    }

    & > li:nth-of-type(4n) > button {
        margin-right: 0;
    }

    & > li > button {
        min-width: 35px;
        min-height: 35px;
        // margin-right: 20px;
        border-radius: 50%;
        background-color: $color_gray;
        color: $color_black;
        font-size: 16px;

        &.active {
            background-color: $color_active;
            color: $color_white;
        }
    }  

}

// 시계 내부

.clock_content {
    @include flex();
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 22%;
    left: 19%;
    width: 28%;
    height: 68%;
    border: $border_color_black;

    & > h3 {
        color: $color_white;
    }

    & > .month_day{
        font-size: 22px;
    }

    & > .clock_hm {
        font-size: 72px;
    }
}

// ToDoList 입력창

.todolist_input {
    @include flex();
    width: 100%;
    height: 20%;
    margin: 30px 0 40px;
    border: 2px solid #000;
    border-radius: $border_radius_small;

    & > input {
        width: 90%;
        height: 100%;
        padding: $padding_small;
        border: none;
        border-radius: 10px 0 0 10px;
        font-size: 20px;

        &:focus {
            outline: none;
            border-radius: 10px 0 0 10px;
        }

    }

    & > button {
        width: 10%;
        height: 100%;
        background-color: $color_yellow;
        border-radius: 0 10px 10px 0;

        &:after {
            content: '\271A';
            font-size: 25px;
            
        }
    }
}

// ToDoList List 창

.todolist {
    width: 100%;
    height: 80%;
    padding: $padding_medium;
    border: 2px solid #000;
    list-style: disc;

    & > li {
        @include flex();
        justify-content: space-between;
        margin-bottom: 10px;
        list-style: disc;
        font-family: 'NanumSquareRound';
        font-size: 24px;
        color: $color_black;

        & > div {

            & > button {
                background-color: $color_yellow;
                border-radius: $border_radius_small;
                padding: $padding_small;
            }

            & > button:first-of-type {
                margin-right: 20px;
            }

        }
    }
}

// 달력 상단 UI

.calendar_top {
    @include flex();
    justify-content: space-between;
    margin-top: 20px;

    button {
        height: 30px;
        background-color: #ccc;
    }

    & > .calendar_top_content {
        @include flex();
        justify-content: space-between;
        width: 70%;

        & > button {
            width: 30px;
            border-radius: 50%;
            font-weight: 700;
        }

    }

    & > .today {
        width: 60px;
        border-radius: 30px;
    }

    .prev::before {
        content: '\003C';
    }

    .next::after {
        content: '\003E';
    }

}

// 달력 요일 UI

.calendar_day {
    @include flex();
    justify-content: space-between;
    margin-top: 15px;
    border-bottom: none;

    & > li {
        font-family: 'NanumSquareRound';
        width: calc(100% / 7);
        padding: 10px 0;
        text-align: center;
        font-size: 14px;
    }

    & > li:first-of-type {
        color: $color_red;
    }

    & > li:last-of-type {
        color: $color_blue;
    }
}

// 달력 일 UI

.calendar_frame {
    @include flex();
    justify-content: space-between;
    flex-wrap: wrap;


    & > li {
        position: relative;
        width: calc(100% / 7);
        min-width: 40px;
        min-height: 40px;
        padding: 6px 0;
        text-align: center;
        font-size: 14px;

        &.today {
            font-weight: 700;
            color: #000;

            &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: #ffea9780;
                transform: translate(-50%, -50%);
            }

        }

    }

}

// 날씨 UI

.weather {
    height: 100%;

    & > .weather_today {
        width: 50%;
        min-width: 150px;
        margin: 20px 0 0 25px;

        & > p {
            @include flex();
            height: 30%;
            margin-bottom: 5px;

            & > span {
                font-size: 20px;
            }

            & > span:first-of-type, span:nth-of-type(2) {
                margin-right: 5px;
            }

        }

        & > h4 {
            @include flex();
            height: 20%;
            font-size: 24px;
        }
    }

    & > .weather_image {
        @include flex();
        flex-direction: column;
        justify-content: center;
        width: 60%;
        height: 60%;
        margin: 35px auto 0;

        & > .weather_back {
            width: 80%;
            height: 70%;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }

        & > .weather_temp {
            @include flex();
            justify-content: center;
            width: 50%;
            height: 30%;
            font-size: 34px;
        }
    }
}


@mixin flex-column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

// 로그인 페이지 스타일

.wrap {
    display: none;
}

#loginPage {
    @include flex-column;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffea97;
    z-index: 99;

    h2 {
        font-size: 40px;
        margin-bottom: 20px;
    }

    form {
        @include flex-column;
        width: 200px;
    }

    input {
        width: 100%;
        border: 1px solid #ddd;
        height: 36px;
        padding: 0 10px;
        outline: 0;
        transition: .1s;

        &:focus {
            border: 2px solid #d4b539;
        }

        &:first-of-type {
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            border-bottom: 0;

            &:focus {
                border: 2px solid #d4b539;

                & ~ input {
                    border-top: 0;
                }

            }

        }

        &:last-of-type {
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
        }

    }

    button {
        width: 100%;
        border-radius: 8px;
        margin-top: 20px;
        height: 36px;
        letter-spacing: 1px;
        font-weight: 700;
        background-color: #c49f0e;
        color: #fff;

        &:hover {
            background-color: #ad8d0e;
        }
        
        &:active {
            background-color: #997d0e;
        }
    }

    p {
        font-size: 12px;
        color: #f00;
        padding: 5px 0 0;
    }
}