@charset "utf-8";

@import './_variable.scss';
@import './_common.scss';
@import './_component.scss';

.util {
    @include flex();
    justify-content: flex-end;
    height: 100%;

    & > #loginUser {
        margin-right: 20px;
        small {
            margin-left: 10px;
            cursor: pointer;
            text-decoration: underline;
        }
    }

    & > a {
        display: block;
        width: 30px;
        height: 30px;
        margin-right: 20px;

        &:first-of-type {
            @include backGround(url('../images/velog.png'), contain);
        }

        &:nth-of-type(2) {
            @include backGround(url('../images/github.png'), contain);
        }

        &:last-of-type {
            @include backGround(url('../images/portfolio.png'), contain);
        }
    }

}

.carculator_input {
    margin-top: 20px;
    min-height: 20px;
    text-align: center;

    & > input {
        width: 90%;
        height: 100%;
        padding: $padding_small;
        border: 2px solid #000;
        border-radius: $border_radius_small;

        &:focus {
            outline: none;
            // border: 2px solid #000;
            border-radius: $border_radius_small;
        }
    }

}

.button_list {
    @include flex();
    justify-content: space-between;
    flex-flow: row wrap;
    height: 75%;
    margin-top: 3%;

    & > li {
        width: 25%;
        text-align: center;
    }

    & > li:nth-of-type(4n) > button {
        margin-right: 0;
    }

    & > li > button {
        min-width: 35px;
        min-height: 35px;
        // margin-right: 20px;
        border-radius: 50%;
        background-color: $color_gray;
        color: $color_black;
        font-size: 16px;

        &.active {
            background-color: $color_active;
            color: $color_white;
        }
    }  

}

.clock_content {
    @include flex();
    flex-direction: column;
    position: absolute;
    top: 22%;
    left: 13%;
    width: 34%;
    height: 68%;
    border: $border_color_black;

    & > h3 {
        color: $color_white;
    }

    & > .month_day{
        margin-top: 18%;
        font-size: 26px;
    }

    & > .clock_hm {
        font-size: 76px;
    }
}

.todolist_input {
    position: relative;
    width: 90%;
    height: 15%;
    border: $border_color_black;
    border-radius: $border_radius_small;

    & > input {
        width: 100%;
        height: 100%;
        padding: $padding_small;
        border: 2px solid #000;
        border-radius: $border_radius_small;
        font-size: 20px;

        &:focus {
            outline: none;
            // border: 2px solid #000;
            border-radius: $border_radius_small;
        }

    }

    & > button {
        position: absolute;
        right: 0;
        width: 7%;
        height: 100%;
        border: 2px solid #000;
        border-left: none;
        background-color: $color_yellow;
        border-radius: 0 10px 10px 0;

        &:after {
            content: '\271A';
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 25px;
            transform: translate(-50%,-50%);
            
        }
    }
}

.todolist {
    width: 90%;
    height: 60%;
    padding: $padding_medium;
    border: $border_color_black;
    list-style: disc;

    & > li {
        @include flex();
        justify-content: space-between;
        margin-bottom: 10px;
        list-style: disc;
        font-family: 'NanumSquareRound';
        font-size: 24px;
        color: $color_black;

        & > div {

            & > button {
                background-color: $color_yellow;
                border-radius: $border_radius_small;
                padding: $padding_small;
            }

            & > button:first-of-type {
                margin-right: 20px;
            }

        }
    }
}

h3 {
    @include flex();
    justify-content:space-between;
    margin-top: 40px;

    & > button {
        position: relative;
        width: 35px;
        height: 35px;
        margin: 0 10px;
        background-color: $color_gray;
        border-radius: 50%;
        font-size: 20px;
        font-weight: 700;
    }

    // .prev::before, .next::after {
    //     // position: absolute;
    //     // top: 50%;
    //     // left: 50%;
    //     // transform: translate(-50%, -50%);
    // }

    .prev::before {
        content: '\003C';
    }

    .next::after {
        content: '\003E';
    }

}

.calendar_day {
    @include flex();
    justify-content: center;
    margin-top: 20px;
    border: $border_color_black;

    & > li {
        font-family: 'NanumSquareRound';
        width: 100%;
        padding: 10px 0;
        text-align: center;
    }

    & > li:first-of-type {
        color: $color_red;
    }

    & > li:last-of-type {
        color: $color_blue;
    }
}

.calendar_wrap {

    h3 {
        flex-wrap: wrap;

        & > span {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            &.top {
                padding-bottom: 6px;

                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 60px;
                    height: 30px;
                    border-radius: 100px;
                    background-color: #ccc;
                }

            }

            &.bottom button {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                background-color: #ccc;
                font-weight: 700;
            }
        }
    }
}

.calendar_frame {
    border: $border_color_black;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    & > li {
        width: calc(100% / 7);
        min-width: 45px;
        min-height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 6px;
        position: relative;
        &.today {
            font-weight: 700;
            color: #000;
            &::after {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: #ffea9780;
                transform: translate(-50%, -50%);
            }
        }
    }
}



@mixin flex-column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

// 로그인 페이지 스타일
.wrap {
    display: none;
}
#loginPage {
    @include flex-column;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffea97;
    z-index: 99;

    h2 {
        font-size: 40px;
        margin-bottom: 20px;
    }
    form {
        @include flex-column;
        width: 200px;
    }
    input {
        width: 100%;
        border: 1px solid #ddd;
        height: 36px;
        padding: 0 10px;
        outline: 0;
        transition: .1s;
        &:focus {
            border: 2px solid #d4b539;
        }
        &:first-of-type {
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            border-bottom: 0;
            &:focus {
                border: 2px solid #d4b539;
                & ~ input {
                    border-top: 0;
                }
            }
        }
        &:last-of-type {
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
        }
    }
    button {
        width: 100%;
        border-radius: 8px;
        margin-top: 20px;
        height: 36px;
        letter-spacing: 1px;
        font-weight: 700;
        background-color: #c49f0e;
        color: #fff;
        &:hover {
            background-color: #ad8d0e;
        }
        &:active {
            background-color: #997d0e;
        }
    }
    p {
        font-size: 12px;
        color: #f00;
        padding: 5px 0 0;
    }
}